* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

header {
  align-items: center;
  background-color: #02202f;
  color: white;
  display: flex;
  gap: 32px;
  padding: 16px 32px;
  width: 100%;
}

header .glimpse-logo {
  height: 30px;
}

header .heading {
  font-size: 28px;
  font-weight: bolder;
}

main {
  padding: 8px;
  margin: auto;
  max-width: 1080px;
}

.ads {
  align-items: center;
  display: flex;
  gap: 16px;
  height: calc(100vh - 68px - 40px - 80px);
  justify-content: space-evenly;
  margin: 16px 0 0 0;
}

.unit {
  background-color: lightgray;
  border-radius: 10px;
  border: 2px solid gray;
  height: 250px;
  overflow: hidden;
  width: 300px;
}

footer {
  color: grey;
  bottom: 0;
  padding: 8px 16px;
  position: absolute;
  text-align: right;
  font-size: small;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .ads {
    flex-direction: column;
  }
  header .heading {
    font-size: 24px;
  }
}
